<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "play_index_style.css" %>
</head>

<body>
   <div id="header">Play an existing Giving Game</div>

   <table>
      <tr>
         <th>Game Title</th>
         <th>Money Per Vote</th>
         <th>Tutorial?</th>
      </tr>
      <% @games.each do |game| %>
         <tr>
            <td><%= link_to game.title, play_game_path(game.id)%></a></td>
            <td>$<%= game.per_transaction %></td>
            <td class="third_col"><% if game.tutorial %>&#10004;<% end %></td>
         </tr>
      <% end %>
   </table>
   <div id="counter"> Total Number of Games: <%= @counter.to_s %></div>

</body>