<h1>Play the tutorial </h1>

<p><%= @description %></p>

<%= button_to "Donate to #{@charityOne}", results_path(:charity => @charityOne) %>
<%= button_to "Donate to #{@charityTwo}", results_path(:charity => @charityTwo), :style => 'margin-top: 10px'%>
