<div class="container">
    <div class="row">
        <div class="page-header"><h1><small>Play the Tutorial</small></h1></div>
    </div>
    <div class="row top-buffer" style="text-align: center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%= @description %></h4>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-6" style="text-align: center">
            <%= button_to "Donate to #{@charityA}", check_played_path(:id => @game.id, :charity => @charityA), :class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-lg-6" style="text-align: center">
            <%= button_to "Donate to #{@charityB}", check_played_path(:id => @game.id, :charity => @charityB), :class => "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>

